<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShellTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShellTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ShellTools.Properties.Settings>
      <setting name="CommandTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ShellTools.Commands.CopyPathCommand, ShellTools</string>
            <string>ShellTools.Commands.CopyNameCommand, ShellTools</string>
            <string>ShellTools.Commands.RelativeCommand, ShellTools</string>
            <string>ShellTools.Commands.FileRenameCommand, ShellTools</string>
          </ArrayOfString>
        </value>
      </setting>
    </ShellTools.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ShellTools.Properties.Settings>
      <setting name="RenameSearchPattern" serializeAs="String">
        <value/>
      </setting>
      <setting name="RenameReplacePattern" serializeAs="String">
        <value/>
      </setting>
      <setting name="SourceFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="RenameIgnoreCase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RenameIncludeSubfolders" serializeAs="String">
        <value>False</value>
      </setting>
    </ShellTools.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
